<div class='comment'>
  <div><%= comment.author.name %> <%= comment.author.last_name %>:</div>
  <div><%= comment.content %></div>
  <div>Likes: <%= comment.likes.size %></div>
  <% if Like.where(user_id: current_user.id, likeable_type: 'Comment', likeable_id: comment.id).exists? %>
    <%= link_to 'Unlike', like_path(comment.likes.find_by(user_id: current_user.id).id), data: { turbo_method: :delete } %>
  <% else %>
    <%= form_with model: Like.new(), url:likes_path do |form| %>
      <%= form.hidden_field :likeable_type, value: 'Comment' %>
      <%= form.hidden_field :likeable_id, value: comment.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit 'Like' %>
    <% end %>
  <% end %>
  <% if current_user == comment.author || current_user == comment.post.author %>
    <%= link_to 'Delete comment', comment_path(comment.id), data: { turbo_method: :delete } %>
  <% end %>
</div>