<h1><%= "#{name} friends" %></h1>

<% if current_user == user %>
  <div class='my-friends'>
    <% if friends.empty? %>
      <p>You have no friends yet.</p>
    <% else %>
      <%= render friends %>
    <% end %>
  </div>
<% else %>
  <h2>Friends in common</h2>
  <div class='friends-in-common'>
    <% if friends_in_common.empty? %>
      <p>You and <%= name[0...-2] %> have no friends in common yet.</p>
    <% else %>
      <%= render friends_in_common %>
    <% end %>
  </div>
  <h2>Other friends</h2>
  <div class='other-friends'>
    <% if other_friends.empty? %>
      <p><%= name[0...-2] %> has no other friends yet.</p>
    <% else %>
      <%= render other_friends %>
    <% end %>
  </div>
<% end %>